@model SitefinityWebApp.Mvc.Models.CrewMembersExpertiseModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.KendoAll, "top")
@Html.Script(Url.WidgetContent("~/MVC/scripts/CrewMembersExpertise/crewMembersExpertise.js"), "bottom")


<script>
		var crewMemberDetailUrl = '@Model.DetailPageUrl';
</script>
<div id="members">
	<div id="membersList" class="row" style="border: none;" data-role="listview" data-template="memberTemplate" data-bind="source: membersSource">
	</div>
	<div class="row skillset" data-template="skillsetTemplate" data-bind="source: membersSource.aggregates()">
	</div>
</div>
<script id="memberTemplate" type="text/x-kendo-tmpl">
	<div class="col-md-3 col-sm-6 col-xs-12" style="box-sizing: border-box">
		<article class="crew-member" style="background-image: url('#=Image.Url#')">
			<figure>
				<figcaption class="overlay">
					<h2><a data-bind="click: parent().parent().crewLinkClickHandler" href="#: crewMemberDetailUrl ? crewMemberDetailUrl +'/'+ UrlName : '\\#' #">#: Name #</a></h2>
					<p>#: Bio #</p>
					#if(Email || LinkedInId || TwitterId) {#
					<div class="crew-socials">
						<ul>
							<li data-bind="visible: TwitterId">
								<a target="_blank" href="https://twitter.com/#:TwitterId#"><i class="fa fa-twitter"></i></a>
							</li>
							<li data-bind="visible: LinkedInId">
								<a target="_blank" href="https://www.linkedin.com/in/#:LinkedInId#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li data-bind="visible: Email">
								<a href="mailto:#:Email#"><i class="fa fa-envelope"></i></a>
							</li>
						</ul>
					</div>
					#}#
				</figcaption>
			</figure>
		</article>
	</div>
</script>
<script id="skillsetTemplate" type="text/x-kendo-tmpl">
	<div class="col-md-6">
		<div class="bar-chart-wrapper">
			<h5 class="bar-chart-text">Visual Design <span class="push-right">#= kendo.toString(VisualDesignExperience.sum / (VisualDesignExperience.count * 10), 'p') #</span></h5>
			<div class="bar-wrapper">
				<div class="bar" data-percentage="#= kendo.toString(VisualDesignExperience.sum / (VisualDesignExperience.count * 10) * 100, 'n') #%">
					<span></span>
				</div>
			</div>
		</div>
		<div class="bar-chart-wrapper">
			<h5 class="bar-chart-text">HTML5/CSS3 <span class="push-right">#= kendo.toString(HtmlCssExperience.sum / (HtmlCssExperience.count * 10), 'p') #</span></h5>
			<div class="bar-wrapper">
				<div class="bar" data-percentage="#= kendo.toString(HtmlCssExperience.sum / (HtmlCssExperience.count * 10) * 100, 'n') #%">
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="bar-chart-wrapper">
			<h5 class="bar-chart-text">Interactive Prototyping <span class="push-right">#= kendo.toString(PrototypingExperience.sum / (PrototypingExperience.count * 10), 'p') #</span></h5>
			<div class="bar-wrapper">
				<div class="bar" data-percentage="#= kendo.toString(PrototypingExperience.sum / (PrototypingExperience.count * 10) * 100, 'n') #%">
					<span></span>
				</div>
			</div>
		</div>
		<div class="bar-chart-wrapper">
			<h5 class="bar-chart-text">Experience Design <span class="push-right">#= kendo.toString(UxExperience.sum / (UxExperience.count * 10), 'p') #</span></h5>
			<div class="bar-wrapper">
				<div class="bar" data-percentage="#= kendo.toString(UxExperience.sum / (UxExperience.count * 10) * 100, 'n') #%">
					<span></span>
				</div>
			</div>
		</div>
	</div>
</script>




