@model SitefinityWebApp.Mvc.Models.AccoladeModel

<i class="icon @Model.IconClass"></i>
<div class="stats-wrapper">
    <p class="stats-number" data-stop="@Model.NumberOfAccolades">@Model.NumberOfAccolades</p>
    <p class="stats-text">@Model.Caption</p>
</div>