<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0" initialized="True">
	<connectionStrings>
		<add connectionString="data source=poppy.arvixe.com;UID=HappyCodingThis;PWD=M@nkey10;initial catalog=HappyCodingThis" name="Sitefinity" />
	</connectionStrings>
</dataConfig>