<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6550.0" connected="True" applicationName="HappyCodingThis" username="iF8e8yuOfzHlEYr8sH0o1mu+Wwg9SImuPxJwmRxj0YdyY5ACTroPSJh5K086y64PsPe1/HOoOrip7dyO4mcv6zQAAAA=" password="WtuAPlsdpodLiZkbj6YeEq22bTkVSd0m+qvoYhKsUKcQAAAA">
	<siteToApiKeyMappings>
		<add dataCenterApiKey="fe8a36c2-d963-899a-77fa-0f471b84eeec" siteName="Default" />
	</siteToApiKeyMappings>
</digitalExperienceCloudConnectorConfig>