<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6722.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="My New Custom" MaxWidth="320" MaxHeight="" ScaleUp="False" Quality="Medium" method="ResizeFitToAreaArguments" name="my-new-cus" />
			</thumbnails>
		</thumbnails>
	</images>
	<blobStorage>
		<providers>
			<add connectionString="DefaultEndpointsProtocol=https;AccountName=jreadquantum;AccountKey=aCZcpVrjG6JThutLXcYRrvWTcc4aOY4Xwzo5m4xDEWIiBWyLXIV//saqm2PHOsu+RADKAOVMYFnzMMwoePQIKQ==" containerName="jread-hct" type="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" name="Azure" />
		</providers>
	</blobStorage>
	<contentViewControls>
		<contentViewControl definitionName="DocumentsBackend" config:flags="1">
			<views>
				<config:lazy key="DocumentsBackendEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendEdit.config" />
				<config:lazy key="DocumentsBackendBulkEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendBulkEdit.config" />
				<config:lazy key="DocumentsBackendVersionPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendVersionPreview.config" />
				<config:lazy key="DocumentsBackendPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendPreview.config" />
				<config:lazy key="SingleDocumentUploadDetailsView" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.SingleDocumentUploadDetailsView.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="BackendUserFileLibraryDocuments" config:flags="1">
			<views>
				<config:lazy key="BackendUserFileDocumentsBackendEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendEditView.config" />
				<config:lazy key="BackendUserFileDocumentsBackendBulkEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendBulkEditView.config" />
				<config:lazy key="BackendUserFileDocumentsVersionPreviewViewView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsVersionPreviewViewView.config" />
				<config:lazy key="BackendUserFileLibraryDocumentsPreviewViewName" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileLibraryDocumentsPreviewViewName.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</librariesConfig>