<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6722.0">
	<blobStorage>
		<providers>
			<add connectionString="DefaultEndpointsProtocol=https;AccountName=jreadquantum;AccountKey=aCZcpVrjG6JThutLXcYRrvWTcc4aOY4Xwzo5m4xDEWIiBWyLXIV//saqm2PHOsu+RADKAOVMYFnzMMwoePQIKQ==" containerName="jread-hct" type="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" name="Azure" />
		</providers>
	</blobStorage>
</librariesConfig>