<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.1.6821.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="My New Custom" MaxWidth="320" MaxHeight="" ScaleUp="False" Quality="Medium" method="ResizeFitToAreaArguments" name="my-new-cus" />
			</thumbnails>
		</thumbnails>
	</images>
	<blobStorage>
		<providers>
			<add connectionString="DefaultEndpointsProtocol=https;AccountName=jreadquantum;AccountKey=aCZcpVrjG6JThutLXcYRrvWTcc4aOY4Xwzo5m4xDEWIiBWyLXIV//saqm2PHOsu+RADKAOVMYFnzMMwoePQIKQ==" containerName="jread-hct" type="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" name="Azure" />
		</providers>
	</blobStorage>
</librariesConfig>