<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6550.0" authCookieName=".SFAUTH-HappyCodingThis" rolesCookieName=".SFROLES-HappyCodingThis" validationKey="3EBF6F914A884CD3E1B2B5C8C949A4FD7CE88DCD27A66693DCF78F45CDE6E4C57DE73ACAE7440E4F8347FD07E13C37C24AFD96B603FD972B89A961BC2B554644" decryptionKey="AE5001EC4AEC26347038FFAC3772DEFE73161FB680AFB20A7498472DC687D029" loggingCookieName=".SFLOG-HappyCodingThis">
	<securityTokenIssuers>
		<add key="D24B368A724F49DEF402301AB9C6D4ADEF1A166575EF141D109A182E729E9982" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="D24B368A724F49DEF402301AB9C6D4ADEF1A166575EF141D109A182E729E9982" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="caac8628-0620-4248-930a-dad61c8c7e35" name="Everyone" config:flags="1" />
		<role id="3003db1b-4baa-414b-afb3-178b99b2aaf4" name="Anonymous" config:flags="1" />
		<role id="26795084-7a9f-472c-8265-2ee1a665a0e8" name="Authenticated" config:flags="1" />
		<role id="8e611d0f-0fde-4de4-a411-606571560381" name="Owner" config:flags="1" />
		<role id="8625dfea-caab-41d1-b813-482acdcfacc7" name="Administrators" config:flags="1" />
		<role id="267d31af-9e25-4fa2-98f8-061e1a2c1d21" name="BackendUsers" config:flags="1" />
		<role id="8e24dd34-0007-4721-abeb-a09e88f21da9" name="Authors" config:flags="1" />
		<role id="2cc37f10-9f78-4d1b-8607-6eddf2aa110f" name="Editors" config:flags="1" />
		<role id="75408c6b-1903-4fd1-aea3-2f65bd3828c5" name="Designers" config:flags="1" />
		<role id="73b27ade-f4eb-4237-9e01-ceb286a262a5" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>