<?xml version="1.0" encoding="utf-8"?>
<sharepointConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6722.0">
	<sharepointSites>
		<add siteAddress="http://quantumdocs.telerik.com" userName="spadmin" password="[sf-scrt-rslvr=Encrypt]aGH2Fgwx4t6+rgvcRffwIJVUQJI33zqOhlf3nwGFr0zfKhyDX3f8E/kwMhoE+mzV2itt6u3uW12CWrZCxoLPNoKESZNF2A1+Vt24wbVDiv1ljhSJ6f3UGGexxWyP0qpc6iTXRgv+ZD0i5maPEaBMhz3Pm3IQShwBmpRUTQ3iAqXWFPM1czM1LQDC16eA12EPBi3UkXUc5oa68lsWwer47YR5TIl1ucyt6tjEJz60VUipaTOnFFCdG/BpvMdqaWumquXivBwao3kLvaPwNxR/X2snSV5y7crTYHqe/7C56zlJMPRHgwCFoxQ7bcZz0Y1VPsGXiNgBc2KEfTliYf3iSgj+3i0iMViMfQB/hzEPE1+Rat4EAfM6Ec+rLVqG/FYCXlY1yQQNN7Jhe+64vAx4DnPztuUp2OXOWxLxf0cFgwo63MrYkgHTJQm8MccOV5Jb/ib1uXTQMPy9Dnc5gOk5Ax0gLDMJ3scq7BiinC9hl2FVSA9J09pe7r99nsM9qqfMom3jbYcQR8l+mglqOB/7snNMVCA07yzScQiZqUHUoFosiaIm9azgFItggjBtHfoNoAEAAA==" siteName="Quantum">
			<listMappings>
				<add mappingId="7af38376-c2ee-459f-9819-2252df9e72f4" sharePointListName="Custom Library" listTemplateType="DocumentLibrary" sitefinityData="Custom Library" sitefinityDataDisplayName="Custom Library" sitefinityDataProvider="OpenAccessDataProvider" scheduleSummary="Not scheduled" sharepointList="Custom Library - Custom Library">
					<sharepointFilter />
					<sitefinityFilter />
				</add>
				<add mappingId="16f2b032-f608-4df8-bf71-096341e10a80" sharePointListName="Announcements" listTemplateType="List" sitefinityData="Telerik.Sitefinity.DynamicTypes.Model.Announcements.Announcements" sitefinityDataDisplayName="Announcements" sitefinityDataProvider="OpenAccessProvider" sitefinityContentType="DynamicModule" scheduleSummary="Not scheduled" sharepointList="Announcements - Announcements">
					<fieldMappings>
						<clear />
						<add sitefinityField="Description" sharepointField="Description" />
						<add sitefinityField="ImageUrl" sharepointField="ImageUrl" />
						<add sitefinityField="Title" sharepointField="Title" />
					</fieldMappings>
					<sharepointFilter />
					<sitefinityFilter />
				</add>
				<add mappingId="1a6cd409-a299-4b69-bff8-62b2c8752f61" sharePointListName="Customized Reports" listTemplateType="DocumentLibrary" sitefinityData="Customized Reports" sitefinityDataDisplayName="Customized Reports" sitefinityDataProvider="OpenAccessDataProvider" syncType="OneWayToSitefinity" scheduleSummary="Not scheduled" sharepointList="Customized Reports - Customized Reports">
					<sharepointFilter />
					<sitefinityFilter />
				</add>
			</listMappings>
		</add>
	</sharepointSites>
</sharepointConnectorConfig>