<?xml version="1.0" encoding="utf-8"?>
<siteSyncConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" enabledAsTarget="True">
	<receivingServers>
		<clear />
		<add serverAddress="http://happycodingthis.com" userName="sync@happycodingthis.com" password="M@nkey10" serverId="d54798a0-f945-4331-be44-6f27b4f088cc" />
	</receivingServers>
</siteSyncConfig>