<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0">
	<applicationModules>
		<add startupType="OnApplicationStart" name="Synchronization" config:flags="1" />
		<add startupType="OnApplicationStart" name="Warmup" config:flags="1" />
	</applicationModules>
</systemConfig>