<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.1.6821.0">
	<applicationModules>
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="OnApplicationStart" name="Synchronization" config:flags="1" />
		<add startupType="OnApplicationStart" name="Warmup" config:flags="1" />
		<add startupType="Disabled" name="WebSecurity" config:flags="1" />
	</applicationModules>
	<trackingConsentConfig consentIsRequired="True" consentDialog="~/App_Data/Sitefinity/TrackingConsent/consentDialog.html">
		<domainOverrides>
			<clear />
		</domainOverrides>
	</trackingConsentConfig>
</systemConfig>