<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6722.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Crew" access="Anonymous" urlName="crew">
					<types>
						<add urlName="albums" clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="members" clrType="Telerik.Sitefinity.DynamicTypes.Model.Crew.Member" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
				<add name="Docs" urlName="docs">
					<types>
						<add urlName="documentlibraries" clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<add urlName="documents" clrType="Telerik.Sitefinity.Libraries.Model.Document" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>