<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6722.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add name="Crew" access="Anonymous" urlName="crew">
					<types>
						<add urlName="albums" clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="members" clrType="Telerik.Sitefinity.DynamicTypes.Model.Crew.Member" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
				<add name="Docs" access="Anonymous" urlName="docs">
					<types>
						<add urlName="documentlibraries" clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<add urlName="documents" clrType="Telerik.Sitefinity.Libraries.Model.Document" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="folders" clrType="Telerik.Sitefinity.Model.Folder" />
					</types>
				</add>
				<add name="Lawyers" access="Anonymous" autogenerateTypes="True" urlName="lawyers">
					<types>
						<remove clrType="Telerik.Sitefinity.Multisite.Model.Site" />
						<remove clrType="Telerik.Sitefinity.News.Model.NewsItem" />
						<remove clrType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
						<remove clrType="Telerik.Sitefinity.Blogs.Model.Blog" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Event" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Document" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Video" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.List" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.ListItem" />
						<remove clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Announcements.Announcements" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Crew.Department" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Crew.Member" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.PressReleases.PressRelease" />
						<remove clrType="Telerik.Sitefinity.DynamicTypes.Model.Sliders.Slider" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<remove clrType="Telerik.Sitefinity.Model.Folder" />
						<remove clrType="Telerik.Sitefinity.Pages.Model.PageNode" />
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>